ul {
    list-style-type: none;
}
h1 {
    text-align: center;
}

.mentor-title, .exec-title {
    height: 150px;
    width: 150px;
    top: -6px;
}
.mentor-pic {
    position: relative;
    height: 150px;
    margin-bottom: -150px;
}
#team.container {
    text-align: center;
}
.profile {
    margin-bottom: -20px;
}