/*Navigation*/
#navbar {
    width: 100%;
    font-size: 24px;
    text-align: right;
    z-index: 2;
    background: #5ac2ab;
    opacity: 0.9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#navbar a {
    color: white;
    font-variant: small-caps;
}
.navbar-title {
    display: block;
    padding: 0.6% 0.6%;
    min-width: 12.44%;
    transition: 0.7s;
    text-align: center;
}
.navbar-title:hover {
    transition: 0.7s;
    opacity: 0.7;
    background: #489c89;
}
.navbar-item {
    display: block;
    padding: 0.6% 0.6%;
    min-width: 12.44%;
    transition: 0.7s;
    text-align: center;
}
.navbar-item:hover {
    transition: 0.7s;
    opacity: 0.7;
    background: #489c89;
}
@media (min-width: 500px) {
    #navbar {
        position: fixed;
    }
    .navbar-item {
        display: inline-block;
    }
    .navbar-title {
        display: inline-block;
        float: left;
    }
}


/*Home*/
#home {
    text-align: center;
    padding: 0px 0px 100px;
    position: relative;
    height: 100%;
    width: 100%;
}
#home h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    padding: 30px 50px 50px 50px;
}
#home button {
    background: #5ac2ab;
    padding: 20px 70px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 2px 0px;
    font-variant: small-caps;
    transition: 0.7s;
}
#home button:hover {
    transition: 0.7s;
    background: #489c89;
}
#home button a {
    color: white;
}
.page-home #teaching {
    background: #489c89;
}
.page-home #mentorship {
    background: #5ac2ab;
}
.page-home #community {
    background-image: url("/img/community/ninjas.jpg");
    background-size: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 100px 0px 200px 0px;
}

#home_title {
    background-image: url("http://www.mccullagh.org/db9/950-22/soda-hall-berkeley.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 500px;
    color: #FFF;
}

#home_body {
    padding-top: 600px;
}

/* About */
.container button {
    background: #5ac2ab;
    padding: 20px 70px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 2px 0px;
    font-variant: small-caps;
    transition: 0.7s;
    margin: 10px 0px;
}
.container button:hover {
    transition: 0.7s;
    background: #489c89;
}
.container button a {
    color: white;
}

/*Team*/
#team {
    padding: 100px;
}
.profile, .profile a {
    position: relative;
    display: inline-block;
}

.mentor-pic {
    height: 200px;
    margin: 0px;
    border-radius: 10%;
    position: absolute;
}
.mentor-title {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: 0.5s;
    position: relative;
}
.mentor-title:hover {
    opacity: 1;
    transition: 0.5s;
}
.exec-title {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background: rgba(72, 156, 137 , 0.6);
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: 0.5s;
    position: relative;
}
.exec-title:hover {
    opacity: 1;
    transition: 0.5s;
}

/*Join*/
#join {
    padding: 100px;
}
#join-timeline td {
    padding: 0px 30px;
}
#join-timeline {
    border: 2px solid black;
}

/*Contact*/
#contact {
    padding: 100px;
}
.social-pic {
    height: 50px;
    padding: 20px 20px 0px 0px;
    transition: 0.5s;
}
.social-pic:hover {
    opacity: 0.7;
    transition: 0.5s;
}

/*Support*/
.section {
    text-align: center;
    padding: 100px;
}
.container {
    padding: 100px;
}
hr {
    border: none;
    margin-bottom: 70px;
}
.paragraph {
    margin-bottom: 70px;
}
.container h1 {
    font-weight: 400;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
    margin-top: 30px;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    word-break: break-word;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body > .container {
    flex: 1;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
    transition: 0.7s;
    color: #5ac2ab;
}
a:hover {
    color: #489c89;
    transition: 0.7s;
}
footer {
    text-align: center;
    background: #489c89;
    padding: 15px 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0px;
    width: 100%;
}

.footer_column {
    text-align: left;
}

.footer_column h5 {
    color: white;
}

.footer_column ul {
    padding-left: 0;
}

.footer_column li {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding:0;
}

.footer_column li a {
    color: #FFF;
    text-shadow: 0px 0px 0px black;
}

.footer_column li a:hover{
    color: #d3d3d3;
}

.row .footer_column{
    display:inline-block;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .container button, {
        width: 100%;
    }
    #home button {
        width: 90%;
        margin: .5px 5px;
    }
    .container {
        padding: 50px;
    }
}
