/* different color schemes? 21b6a8*/

/* About */
.stats-box {
    margin: 0px;
    text-align: center;
    margin: 0px auto;
    background-color: #5ac2ab;
    padding: 20px;
    font-size: 26px;
    width: 100%;
}
.stats-box strong {
    color: white;
}

/* Join */
#join-nav {
    text-align: center;
}
#join-nav li {
    display: inline-block;
    background-color: #489c89;
    padding: 10px 20px;
    color: white;
    opacity: 1;
    transition: 0.7s;
    font-size: 20px;
    margin: 2px;
}
#join-nav li:hover {
    opacity: 0.9;
    transition: 0.7s;
}
#join-nav a {
    color: white;
}
.join-box {
    margin: 100px 0px;
}
.question {
    font-weight: bold;
    font-size: 20px;
}
.answer {
    margin-bottom: 50px;
    font-size: 16px;
}

/* Team */
.mentor-title, .exec-title {
    height: 150px;
    width: 150px;
    top: -6px;
}
.mentor-pic {
    position: relative;
    height: 150px;
    margin-bottom: -150px;
}
#team.container {
    text-align: center;
    padding: 50px;
}
.profile {
    margin-bottom: -20px;
}

/* Others */
ul {
    list-style-type: none;
}
h1 {
    text-align: center;
}
h2 {
    font-weight: normal;
}
h3 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
.container button {
    padding: 15px 50px;
    margin: 0px;

}
body {
    margin: 0px;
}
html {
    margin: 0px;
}
.container {
    padding: 50px 200px;
    margin: 0px;
}
.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule-style: solid;
    -moz-column-rule-style: solid;
    column-rule-style: solid;
    -webkit-column-rule-color: #5ac2ab;
    -moz-column-rule-color: #5ac2ab;
    column-rule-color: #5ac2ab;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}
.footer_column h2 {
    font-size: 16px;
    padding-bottom:0px;
}
.footer_column li {
    font-size: 16px;
}
.footer_column p {
    padding-top:0px;
}
.row .footer_column{
    padding: 0px 20px;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 50px;
    }
}
@media screen and (max-width: 670px) {
    .columns {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    #join-nav li {
        display: block;
    }
}