/*Navigation*/
#navbar {
    width: 100%;
    position: fixed;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    background: #5ac2ab;
    opacity: 0.9;
}
#navbar a {
    color: white;
    font-variant: small-caps;
}
.navbar-title {
    display: inline-block;
    padding: 1.5% 1%;
    width: 12.44%;
    float: left;
    transition: 0.7s;
}
.navbar-title:hover {
    transition: 0.7s;
    opacity: 0.7;
    background: #489c89;
}
.navbar-item {
    display: inline-block;
    padding: 1.5% 1%;
    width: 12.44%;
    float: right;
    transition: 0.7s;
}
.navbar-item:hover {
    transition: 0.7s;
    opacity: 0.7;
    background: #489c89;
}

/*Home*/
#home {
    text-align: center;
    padding: 100px 0px;
}
#home h1 {
    text-align: center;
    font-size: 85px;
    padding: 20px 50px 100px 50px;
}
#home button {
    background: #5ac2ab;
    padding: 20px 70px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 2px 0px;
    font-variant: small-caps;
    transition: 0.7s;
}
#home button:hover {
    transition: 0.7s;
    background: #489c89;
}
#home button a {
    color: white;
}
#teaching {
    background: #489c89;
}
#mentorship {
    background: #5ac2ab;
}
#community {
    background-image: url("img/community/ninjas.jpg");
    background-size: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 100px 0px 200px 0px;
}

/* About */
.container button {
    background: #5ac2ab;
    padding: 20px 70px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 2px 0px;
    font-variant: small-caps;
    transition: 0.7s;
    margin: 10px 0px;
}
.container button:hover {
    transition: 0.7s;
    background: #489c89;
}
.container button a {
    color: white;
}

/*Team*/
#team {
    padding: 100px;
}
.profile, .profile a {
    position: relative;
    display: inline-block;
}

.mentor-pic {
    height: 200px;
    margin: 0px;
    border-radius: 10%;
    position: absolute;
}
.mentor-title {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: 0.5s;
    position: relative;
}
.mentor-title:hover {
    opacity: 1;
    transition: 0.5s;
}
.exec-title {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background: rgba(72, 156, 137 , 0.6);
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: 0.5s;
    position: relative;
}
.exec-title:hover {
    opacity: 1;
    transition: 0.5s;
}

/*Join*/
#join {
    padding: 100px;
}
#join-timeline td {
    padding: 0px 30px;
}
#join-timeline {
    border: 2px solid black;
}

/*Contact*/
#contact {
    padding: 100px;
}

/*Support*/
.section {
    text-align: center;
    padding: 100px;
}
.container {
    padding: 100px;
}
.paragraph {
    margin-bottom: 70px;
}
h2 {
    margin-top: 30px;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    display: inline-block;
    margin: 0px;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}
footer {
    text-align: center;
    background: #489c89;
    padding: 15px 0px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 670px) {
    .container button {
        width: 100%;
    }
    .container {
        padding: 50px;
    }
}